---
import Header from '../../components/Header.astro'
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Content from '../../layouts/Content.astro'
import Article from '../../components/Article.astro'
import Prose from '../../components/Prose.astro'
import Heading from '../../components/Heading.astro'
import Text from '../../components/Text.astro'
import List from '../../components/List.astro'
import ListItem from '../../components/ListItem.astro'
import CodeBlock from '../../components/CodeBlock.astro'

const colorVariables = `
:root {
  --ac-transparent: transparent;
  --ac-current: currentColor;
  --ac-white: 255, 255, 255;
  --ac-primary: 64, 93, 255;
  --ac-secondary: 98, 251, 213;
  --ac-dark: 22, 22, 22;
  --ac-gray-100: 232, 232, 232;
  --ac-gray-200: 185, 185, 185;
  --ac-gray-300: 139, 139, 139;
  --ac-gray-400: 92, 92, 92;
  --ac-gray-500: 45, 45, 45;
  --ac-success: 0, 255, 0;
  --ac-warning: 255, 255, 0;
  --ac-danger: 255, 0, 0;
}
`
const lightModeVariables = `
.light,
:root,
[data-theme='light'] {
  color-scheme: light;
  --ac-color-100: var(--ac-white);
  --ac-color-200: var(--ac-gray-100);
  --ac-color-300: var(--ac-gray-200);
  --ac-color-400: var(--ac-gray-300);
  --ac-color-500: var(--ac-gray-400);
  --ac-color-600: var(--ac-gray-500);
  --ac-color-700: var(--ac-dark);
}
`
const darkModeVariables = `
.dark,
[data-theme='dark'] {
  color-scheme: dark;
  --ac-color-100: var(--ac-dark);
  --ac-color-200: var(--ac-gray-500);
  --ac-color-300: var(--ac-gray-400);
  --ac-color-400: var(--ac-gray-300);
  --ac-color-500: var(--ac-gray-200);
  --ac-color-600: var(--ac-gray-100);
  --ac-color-700: var(--ac-white);
}
`
const examplesCodes = `
body {
  background-color: rgb(var(--ac-color-100));
  color: rgb(var(--ac-color-700));
}

.card {
  background-color: rgb(var(--ac-color-200));
  border: 1px solid rgb(var(--ac-color-300));
}

.button {
  background-color: rgb(var(--ac-primary));
  color: rgb(var(--ac-white));
}
`
---

<Layout title="Free Astro Components - Colors">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Colors"
        />
        <Prose>
          <Text>
            This section describes the CSS variables that define the color
            palette used in the components. It also explains how light and dark
            modes are implemented to enhance user experience.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Color Variables" />
          <Heading level={3} text="Base Variables" />
          <Text>
            These variables are used to define primary, secondary, dark, and
            neutral colors. They are applied consistently across the project to
            maintain a coherent visual identity.
          </Text>
          <Heading level={4} text="Variables" />
          <CodeBlock lang="css" code={colorVariables} />
        </Prose>
        <Prose>
          <Heading level={2} text="Color Modes" />
          <Text>
            To enhance user experience, we use light and dark color modes that
            adjust automatically based on user preferences or system settings.
            This is achieved using specific classes and data attributes to
            determine the current theme.
          </Text>
          <Heading level={3} text="Light Mode" />
          <CodeBlock lang="css" code={lightModeVariables} />
          <List>
            <ListItem>
              <Text>
                <strong>Description</strong>: In light mode, we use lighter
                colors for backgrounds and primary elements, while text and
                prominent elements are darker.
              </Text>
            </ListItem>
            <ListItem>
              <Text>
                <strong>Color Variables</strong>: Variables <code
                  >--ac-color-100</code
                > to <code>--ac-color-700</code> are mapped to lighter colors, ending
                with <code>--ac-dark</code> for text and important elements.
              </Text>
            </ListItem>
          </List>
          <Heading level={3} text="Dark Mode" />
          <CodeBlock lang="css" code={darkModeVariables} />
          <List>
            <ListItem>
              <Text>
                <strong>Description</strong>: In dark mode, we use darker colors
                for backgrounds and lighter colors for text and highlighted
                elements, reducing visual fatigue in low-light environments.
              </Text>
            </ListItem>
            <ListItem>
              <Text>
                <strong>Color Variables</strong>: Variables <code
                  >--ac-color-100</code
                > to <code>--ac-color-700</code> are inverted compared to light mode,
                starting with <code>--ac-dark</code> and ending with <code
                  >--ac-white</code
                > for text and important elements.
              </Text>
            </ListItem>
          </List>
        </Prose>
        <Prose>
          <Heading level={2} text="Usage Examples" />
          <Heading level={3} text="General Styles" />
          <CodeBlock lang="css" title="css" code={examplesCodes} />
        </Prose>
      </Article>
    </section>
  </Content>
</Layout>
