---
import { icons } from '../data/icons.ts'
import { iconsCategories } from '../data/icons-categories.ts'
import {
  Button,
  Icon,
  Checkbox,
  Radio,
  Switch,
  Input,
  Textarea,
  Select,
} from 'free-astro-components'
import Code from '../components/Code.astro'
import CodeBlock from '../components/CodeBlock.astro'
import Component from '../sections/Component.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="Free Astro Components - Components">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      title="<strong>Components</strong>"
      description="Explore my collection of free Astro components designed to enhance your projects."
    >
      <div>
        <Button icon="arrow-down" href="#icons" label="Explore Components" />
      </div>
      <div>
        <Code code="npm install free-astro-components" />
      </div>
    </Hero>

    <Component id="icons" title="Icons">
      <CodeBlock
        title="src/pages/index.astro"
        lang="astro"
        code={`
---
import { Icon } from 'free-astro-components'
---

<Icon icon='icon-name' class='icon-classes' />
        `}
        slot="code"
      />
      <ul class="flex flex-col gap-8">
        {
          iconsCategories.map((category) => {
            const categoryIcons = icons.filter(
              (icon) => icon.category === category
            )

            return categoryIcons.length > 0 ? (
              <li class="flex flex-col gap-4">
                <h3 class="text-neutral-500 text-xl md:text-2xl font-light capitalize">
                  {category}
                </h3>
                <ul class="icons-list">
                  {categoryIcons.map((icon) => (
                    <li class="flex flex-col gap-2 items-center bg-primary/5 border border-primary/30 rounded-2xl p-4">
                      <Icon icon={icon.name} class="w-8 h-8 text-primary" />
                      <span class="text-neutral-500 text-sm">{icon.name}</span>
                    </li>
                  ))}
                </ul>
              </li>
            ) : null
          })
        }
      </ul>
    </Component>

    <Component id="buttons" title="Buttons">
      <CodeBlock
        slot="code"
        title="src/pages/index.astro"
        lang="astro"
        code={`
---
import { Button } from 'free-astro-components'
---

<Button size="medium" icon="star" variant="primary" label="Button primary" />
      `}
      />
      <ul class="flex flex-col gap-8">
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Primary
          </h3>
          <ul class="flex flex-wrap gap-4">
            <li>
              <Button variant="primary" label="Button primary" />
            </li>
            <li>
              <Button icon="star" variant="primary" label="Primary with icon" />
            </li>
            <li>
              <Button
                icon="star"
                iconPosition="left"
                variant="primary"
                label="Primary with icon left"
              />
            </li>
            <li>
              <Button variant="primary" label="Primary disabled" disabled />
            </li>
            <li>
              <Button icon="star" variant="primary" />
            </li>
            <li>
              <Button size="small" variant="primary" label="Primary small" />
            </li>
          </ul>
        </li>
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Secondary
          </h3>
          <ul class="flex flex-wrap gap-4">
            <li>
              <Button variant="secondary" label="Button secondary" />
            </li>
            <li>
              <Button
                icon="star"
                variant="secondary"
                label="Secondary with icon"
              />
            </li>
            <li>
              <Button
                icon="star"
                iconPosition="left"
                variant="secondary"
                label="Secondary with icon left"
              />
            </li>
            <li>
              <Button variant="secondary" label="Secondary disabled" disabled />
            </li>
            <li>
              <Button icon="star" variant="secondary" />
            </li>
            <li>
              <Button
                size="small"
                variant="secondary"
                label="Secondary small"
              />
            </li>
          </ul>
        </li>
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Dark
          </h3>
          <ul class="flex flex-wrap gap-4">
            <li>
              <Button variant="dark" label="Button dark" />
            </li>
            <li>
              <Button icon="star" variant="dark" label="Dark with icon" />
            </li>
            <li>
              <Button
                icon="star"
                iconPosition="left"
                variant="dark"
                label="Dark with icon left"
              />
            </li>
            <li>
              <Button variant="dark" label="Dark disabled" disabled />
            </li>
            <li>
              <Button icon="star" variant="dark" />
            </li>
            <li>
              <Button size="small" variant="dark" label="Dark small" />
            </li>
          </ul>
        </li>
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Light
          </h3>
          <ul class="flex flex-wrap gap-4">
            <li>
              <Button variant="light" label="Button light" />
            </li>
            <li>
              <Button icon="star" variant="light" label="Light with icon" />
            </li>
            <li>
              <Button
                icon="star"
                iconPosition="left"
                variant="light"
                label="Light with icon left"
              />
            </li>
            <li>
              <Button variant="light" label="Light disabled" disabled />
            </li>
            <li>
              <Button icon="star" variant="light" />
            </li>
            <li>
              <Button size="small" variant="light" label="Light small" />
            </li>
          </ul>
        </li>
      </ul>
    </Component>

    <Component id="controls" title="Controls">
      <CodeBlock
        slot="code"
        title="src/pages/index.astro"
        lang="astro"
        code={`
---
import { Checkbox, Radio, Switch } from 'free-astro-components'
---

<Checkbox label="Checkbox" />

<Radio label="Radio" />

<Switch label="Switch" />
      `}
      />

      <ul class="flex flex-col gap-8">
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Checkbox
          </h3>
          <ul class="flex flex-wrap gap-4">
            <li>
              <Checkbox label="Checkbox" />
            </li>
            <li>
              <Checkbox label="Checkbox checked" checked />
            </li>
            <li>
              <Checkbox label="Checkbox disabled" disabled />
            </li>
            <li>
              <Checkbox label="Checkbox checked disabled" checked disabled />
            </li>
            <li>
              <Checkbox error label="Checkbox error" />
            </li>
          </ul>
        </li>
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Radiobutton
          </h3>
          <ul class="flex flex-wrap gap-4">
            <ul class="flex flex-wrap gap-4">
              <li>
                <Radio label="Radio" />
              </li>
              <li>
                <Radio label="Radiobutton checked" checked />
              </li>
              <li>
                <Radio label="Radiobutton disabled" disabled />
              </li>
              <li>
                <Radio label="Radiobutton checked disabled" checked disabled />
              </li>
              <li>
                <Radio error label="Radiobutton error" />
              </li>
            </ul>
          </ul>
        </li>
        <li class="flex flex-col gap-4">
          <h3
            class="text-neutral-500 text-xl md:text-2xl font-light capitalize"
          >
            Switch
          </h3>
          <ul class="flex flex-wrap gap-4">
            <ul class="flex flex-wrap gap-4">
              <li>
                <Switch label="Switch" />
              </li>
              <li>
                <Switch label="Switch On" checked />
              </li>
              <li>
                <Switch label="Switch  disabled" disabled />
              </li>
              <li>
                <Switch label="Switch On disabled" checked disabled />
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </Component>

    <Component id="inputs" title="Inputs">
      <CodeBlock
        slot="code"
        title="src/pages/index.astro"
        lang="astro"
        code={`
---
import { Input } from 'free-astro-components'
---

<Input label="Input label" placeholder="Input placeholder" helperText="Input helper text" />
      `}
      />
      <ul
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
      >
        <li>
          <Input
            label="Input label"
            placeholder="Input placeholder"
            helperText="Input helper text"
          />
        </li>
        <li>
          <Input
            label="Input label"
            value="Input value"
            placeholder="Input placeholder"
            helperText="Input helper text"
          />
        </li>
        <li>
          <Input
            label="Input label"
            placeholder="Input placeholder"
            helperText="Input helper text"
            disabled
          />
        </li>
        <li>
          <Input
            label="Input label"
            value="Input value"
            placeholder="Input placeholder"
            helperText="Input helper text"
            disabled
          />
        </li>
        <li>
          <Input
            label="Input label"
            value="Input value"
            placeholder="Input placeholder"
            helperText="Input helper text"
            readonly
          />
        </li>
        <li>
          <Input
            type="search"
            label="Input search"
            placeholder="Input placeholder"
            helperText="Input helper text"
          />
        </li>
        <li>
          <Input
            type="password"
            label="Input password"
            placeholder="Input placeholder"
            helperText="Input helper text"
          />
        </li>
        <li>
          <Input
            icon="star"
            label="Input with icon"
            placeholder="Input placeholder"
            helperText="Input helper text"
          />
        </li>
        <li>
          <Input
            label="Input success"
            value="Input value"
            placeholder="Input placeholder"
            helperText="Input helper text"
            status="success"
          />
        </li>
        <li>
          <Input
            label="Input error"
            placeholder="Input placeholder"
            helperText="Input helper text"
            status="error"
          />
        </li>
      </ul>
    </Component>

    <Component id="textareas" title="Textareas">
      <CodeBlock
        slot="code"
        title="src/pages/index.astro"
        lang="astro"
        code={`
---
import { Textarea } from 'free-astro-components'
---

<Textarea label="Textarea label" placeholder="Textarea placeholder" helperText="Textarea helper text" />
      `}
      />
      <ul
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
      >
        <li>
          <Textarea
            label="Textarea label"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
          />
        </li>
        <li>
          <Textarea
            label="Textarea label"
            value="Textarea value"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
          />
        </li>
        <li>
          <Textarea
            label="Textarea label"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
            disabled
          />
        </li>
        <li>
          <Textarea
            label="Textarea label"
            value="Textarea value"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
            disabled
          />
        </li>
        <li>
          <Textarea
            label="Textarea label"
            value="Textarea value"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
            readonly
          />
        </li>
        <li>
          <Textarea
            icon="star"
            label="Textarea with icon"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
          />
        </li>
        <li>
          <Textarea
            label="Textarea success"
            value="Textarea value"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
            status="success"
          />
        </li>
        <li>
          <Textarea
            label="Textarea error"
            placeholder="Textarea placeholder"
            helperText="Textarea helper text"
            status="error"
          />
        </li>
      </ul>
    </Component>

    <Component id="selects" title="Selects">
      <CodeBlock
        slot="code"
        title="src/pages/index.astro"
        lang="astro"
        code={`
---
import { Select } from 'free-astro-components'
---

<Select label="Select label" placeholder="Select placeholder" helperText="Select helper text" />
      `}
      />
      <ul
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
      >
        <li>
          <Select
            label="Select label"
            placeholder="Select placeholder"
            helperText="Select helper text"
          />
        </li>
        <li>
          <Select
            label="Select label"
            placeholder="Select placeholder"
            options={[
              { value: 'Option 1', label: 'Option 1' },
              { value: 'Option 2', label: 'Option 2', selected: true },
              { value: 'Option 3', label: 'Option 3' },
            ]}
            helperText="Select helper text"
          />
        </li>
        <li>
          <Select
            label="Select label"
            placeholder="Select placeholder"
            helperText="Select helper text"
            disabled
          />
        </li>
        <li>
          <Select
            label="Select label"
            placeholder="Select placeholder"
            options={[
              { value: 'Option 1', label: 'Option 1' },
              { value: 'Option 2', label: 'Option 2', selected: true },
              { value: 'Option 3', label: 'Option 3' },
            ]}
            helperText="Select helper text"
            disabled
          />
        </li>
        <li>
          <Select
            label="Select success"
            placeholder="Select placeholder"
            options={[
              { value: 'Option 1', label: 'Option 1' },
              { value: 'Option 2', label: 'Option 2', selected: true },
              { value: 'Option 3', label: 'Option 3' },
            ]}
            helperText="Select helper text"
            status="success"
          />
        </li>
        <li>
          <Select
            label="Select error"
            placeholder="Select placeholder"
            helperText="Select helper text"
            status="error"
          />
        </li>
      </ul>
    </Component>

    <CTA
      title="Coming Soon: <strong>More Components</strong>"
      description="I’m continuously working on expanding my collection to include even more components. Stay tuned for upcoming additions that will further enhance your Astro projects."
    >
      <Button
        variant="secondary"
        icon="arrow-up"
        href="#components"
        label="Explore Components"
      />
    </CTA>
  </main>
  <Footer />
</Layout>

<style>
  .icons-list {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
</style>
