---
import { Button } from 'free-astro-components'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="Free Astro Components - Documentation">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      title="Documentation <strong>Under Construction</strong>"
      description="I’m currently working on the documentation for my free Astro components. Please check back soon for detailed guides and information to help you make the most out of these components.<br><br>Thank you for your patience and understanding!"
    >
      <div>
        <Button
          icon="arrow-right"
          href="/components"
          label="Explore Components"
        />
      </div>
    </Hero>
  </main>
  <Footer />
</Layout>
