---
import { Button } from 'free-astro-components'
import Code from '../components/Code.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="Free Astro Components">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="A collection of <strong>Free Astro Components</strong>"
      description="You can use these components to build your Astro projects faster."
    >
      <div>
        <Button href="/guide/installation" label="Get started" />
      </div>
      <div>
        <Code code="npm install free-astro-components" />
      </div>
    </Hero>
    <Intro />
    <CTA
      align="center"
      title="Ready to <strong>Get Started?</strong>"
      description="Explore my collection of free Astro components and start building your next project today."
    >
      <Button href="/components/button" label="Explore Components" />
    </CTA>
  </main>
  <Footer />
</Layout>
