---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import CTA from '../sections/CTA.astro'
---

<Layout title="Free Astro Components">
  <main>
    <Hero />
    <Intro />
    <CTA />
  </main>
</Layout>
