<article class="flex flex-col items-start divide-y divide-neutral-300/50">
  <header class="w-full py-8">
    <slot name="header" />
  </header>
  <div class="flex flex-col gap-12 lg:gap-16 w-full py-8">
    <slot />
  </div>
</article>
