<div
  class="inline-block bg-gradient-to-r from-primary/50 to-secondary/50 rounded-lg p-px"
>
  <code
    class="inline-block bg-neutral-100/90 text-neutral-500 text-sm rounded-lg px-5 py-3"
  >
    <slot />
  </code>
</div>
