---
import { Icon } from 'free-astro-components'
---

<footer class="py-8 lg:py-12 border-t border-neutral-300/50">
  <div class="container">
    <div
      class="flex flex-col gap-8 lg:flex-row lg:justify-between lg:items-center"
    >
      <div class="flex flex-col gap-8">
        <a
          href="/"
          class="text-primary hover:text-secondary transition duration-300 ease-in-out"
          aria-label="Free Astro components"
        >
          <Icon icon="star" class="w-10 h-10" />
        </a>
        <p class="text-neutral-500">
          A Collection of <strong>Free Astro Components</strong>
        </p>
      </div>
      <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
        <div class="flex flex-col gap-4">
          <h4 class="text-neutral-700 text-lg">Resources</h4>
          <ul class="text-neutral-500 flex flex-col gap-2">
            <li><a href="/guide/installation">Documentation</a></li>
            <li><a href="/components/button">Components</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
