<button
  data-hamburguer
  title="Open Nav"
  class="flex flex-col justify-around w-6 h-6 group"
>
  <span
    class="w-6 h-0.5 bg-neutral-700 group-[[open]]:rotate-45 group-[[open]]:translate-y-2 transition-transform duration-300"
  ></span>
  <span
    class="w-6 h-0.5 bg-neutral-700 group-[[open]]:opacity-0 transition-transform duration-300"
  ></span>
  <span
    class="w-6 h-0.5 bg-neutral-700 group-[[open]]:-rotate-45 group-[[open]]:-translate-y-2 transition-transform duration-300"
  ></span>
</button>
