<div
  class="absolute top-[15%] left-0 w-1/3 -translate-x-1/2 -translate-y-1/3 xl:-translate-y-2/3 aspect-square"
>
  <div
    class="w-full h-full bg-primary/30 rounded-full blur-2.5xl sm:blur-3xl md:blur-4xl lg:blur-5xl xl:blur-6xl animate-move-circle-reverse"
  >
  </div>
</div>

<div
  class="absolute top-0 left-[15%] w-1/3 -translate-x-1/2 -translate-y-1/3 xl:-translate-y-3/4 aspect-square"
>
  <div
    class="w-full h-full bg-secondary/25 rounded-full blur-2.5xl sm:blur-3xl md:blur-4xl lg:blur-5xl xl:blur-6xl animate-move-circle"
  >
  </div>
</div>

<div
  class="absolute bottom-0 left-[20%] w-1/3 -translate-x-1/2 translate-y-1/3 xl:translate-y-3/4 aspect-square"
>
  <div
    class="w-full h-full bg-secondary/70 rounded-full blur-2.5xl sm:blur-3xl md:blur-4xl lg:blur-5xl xl:blur-6xl animate-move-circle"
  >
  </div>
</div>

<div
  class="absolute bottom-0 left-[40%] w-1/3 -translate-x-1/2 translate-y-1/3 xl:translate-y-2/3 aspect-square"
>
  <div
    class="w-full h-full bg-gradient-to-r from-secondary/70 to-primary/70 rounded-full blur-2.5xl sm:blur-3xl md:blur-4xl lg:blur-5xl xl:blur-6xl animate-move-circle-reverse"
  >
  </div>
</div>

<div
  class="absolute bottom-0 left-[60%] w-1/3 -translate-x-1/2 translate-y-1/3 xl:translate-y-2/3 aspect-square"
>
  <div
    class="w-full h-full bg-primary/90 rounded-full blur-2.5xl sm:blur-3xl md:blur-4xl lg:blur-5xl xl:blur-6xl animate-move-circle"
  >
  </div>
</div>

<div
  class="absolute bottom-0 left-[80%] w-1/3 -translate-x-1/2 translate-y-1/3 xl:translate-y-3/4 aspect-square"
>
  <div
    class="w-full h-full bg-gradient-to-r from-primary/70 to-secondary/70 rounded-full blur-2.5xl sm:blur-3xl md:blur-4xl lg:blur-5xl xl:blur-6xl animate-move-circle-reverse"
  >
  </div>
</div>
