<div
  class="bg-gradient-to-r from-primary/50 to-secondary/50 appearance-none rounded-lg p-px"
>
  <div
    class="flex flex-col gap-2 items-center bg-neutral-100/90 text-neutral-500 rounded-lg p-4"
  >
    <slot />
  </div>
</div>
