---
import { Icon } from 'free-astro-components'

const { title, open } = Astro.props
---

<li>
  <details class="group" open={open}>
    <summary
      class="flex items-center list-none [&::-webkit-details-marker]:hidden cursor-pointer py-1"
    >
      <span class="flex-1 font-medium">{title}</span>
      <Icon
        icon="chevron-right"
        class="shrink-0 w-4 h-4 text-neutral-500 group-[[open]]:rotate-90 transition-transform duration-300"
      />
    </summary>
    <ul class="flex flex-col">
      <slot />
    </ul>
  </details>
</li>
