---
const { active } = Astro.props
---

<div
  data-tab-pane
  data-active={active}
  class="hidden [&[data-active]]:block group"
>
  <div
    class="opacity-0 group-[[data-active]]:opacity-100 transition duration-300"
  >
    <slot />
  </div>
</div>
