---
interface Props {
  title?: string
  description?: string
  align?: 'center' | 'left' | 'right'
}

const { title, description, align } = Astro.props
---

<section class="pb-16 lg:pb-32">
  <div class="container">
    <div
      class="bg-gradient-to-r from-primary/50 to-secondary/50 rounded-3xl p-px"
    >
      <div
        class:list={[
          'flex flex-col gap-16 bg-neutral-100 rounded-3xl px-8 lg:px-16 xl:px-24 py-16 lg:py-32',
          align === 'center' ? 'text-center' : '',
        ]}
      >
        <div class="flex flex-col gap-4">
          {
            title && (
              <h2
                class:list={[
                  'text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium',
                  align === 'center' ? 'mx-auto' : '',
                ]}
                set:html={title}
              />
            )
          }
          {
            description && (
              <p
                class:list={[
                  'text-neutral-500 lg:text-lg',
                  align === 'center' ? 'mx-auto' : '',
                ]}
                set:html={description}
              />
            )
          }
        </div>

        <div>
          <slot />
        </div>
      </div>
    </div>
  </div>
</section>
