---
import Card from '../components/Card.astro'
---

<section class="py-16 lg:py-32">
  <div class="container flex flex-col gap-16">
    <div class="flex flex-col gap-4">
      <h2 class="text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium">
        <strong>Why Use</strong> These Astro Components?
      </h2>
      <p class="text-neutral-500 lg:text-lg">
        I’ve designed this collection of Astro components to help you build your
        web projects faster and more efficiently. Whether you’re a beginner or a
        seasoned developer, you’ll find components that suit your needs.
      </p>
    </div>

    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-8 xl:gap-16">
      <li>
        <Card
          type="primary"
          icon="star"
          title="Free"
          description="All components are free to use, making it easy to customize them to fit your project."
        />
      </li>
      <li>
        <Card
          type="light"
          icon="ellipse"
          title="Easy Integration"
          description="Seamlessly integrate components into your Astro.js projects."
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="square"
          title="Responsive Design"
          description="Components are designed to be fully responsive, ensuring a great user experience across all devices."
        />
      </li>
    </ul>
  </div>
</section>
