---
import ContentGradient from '../components/ContentGradient.astro'
---

<main class="relative min-h-dvh lg:pl-72 pt-16">
  <ContentGradient />

  <div class="relative w-full max-w-3xl mx-auto p-6">
    <slot />
  </div>
</main>
